<h1>CTD Rails 2013</h1>

<div class="container">
  <ul class="thumbnails">
    <% @students.each do |student_hash| %>
    <li class="span4">
      <a href="#" class="thumbnail">
        <img src="<%= student_hash['profile_pic_url'] %>" alt="">
      </a>
    </li>
    <% end %>
  </ul>
</div>
